* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: url(./assets/hearts.gif) repeat fixed;
  background-color: #f9cee7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow:auto;
}


h1 {
  margin: 32px 0;
  color: azure;
  font-size: 25px;
}

.socials {
  margin: 32px 0;
  color: azure;
  text-align: center;
  font-size: 2.0em;
  line-height: 1.1;
  
}

.navbar{    
  background-color: #edc9e7a9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(224, 9, 163, 0.171) !important;
  backdrop-filter: blur(15px) !important;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.me-auto{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px ;
  font-size: 25px;
  }

.li{
  padding-right: 20px;
}

.link{
  font-weight: 500;
  color: azure;
  text-decoration: inherit;
}

.link:hover {
  background: azure;
  color: #FBAED2;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #380b38;
}
/* ///////////////////////////////////////////end navbar/////////////////////////////////////////////// */

/*////////////////////////////////////////// footer //////////////////////////////////////////////////*/
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  color: azure;
  background-color: #ff23d782 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 10px 10px 10px 10px rgba(44, 3, 32, 0.627) !important;
  backdrop-filter: blur(15px) !important;
}

.links{
  display: flex;
  flex-direction: row;
}

.social{
  padding-right: 20px;
  font-size: 25px;
}


/* ////////////////////////////////////////end footer////////////////////////////////////////////// */

/* ///////////////////////////////////////////about me/////////////////////////////////////////////// */
.aboutMe{
  padding-top: 80px;
  text-align: center;
}

.aboutSection {
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
}

.about{
  padding-bottom: 3%;
}

.headshot{
  width: 45%;
  height: 45%;
  display: block;
}

.hearts{
  display: flex;
  width: 45%;
  height: 45%;
}

.heart{
  width: 100%;
  height: 100%;
}

.myParagraph{
  position: absolute;
  text-align: center;
  padding-right: 60px;
  margin-top: 190px;
  font-family: "Lucida Console", "Courier New", monospace;
}

@media only screen and (max-width: 1540px){
  .myParagraph {
    margin-top: 150px;
  } 
}

/* @media only screen and (max-width: 1060){
  .aboutSection {
    display: flex;
    flex-direction: column;  
    justify-content: space-evenly;
  } 
} */

.aboutMeSection{
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
  padding: 100px; 
}

.interest{  
  position: absolute;
  padding-left: 100px;
  padding-top: 50px;
  ;


}

.book{
  scale: .75;
  margin: -35px;
}

.aboutMeItems{
 display: flex;
 /* align-items: center; */
}

/* .aboutMeItems:hover{
  background-image: url(./assets/items-container.png);
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 130px;
  background-size: 90%;
  color: rgba(223, 15, 185, 0.87);
  background: rgb(6, 174, 174);
  color: #FBAED2;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #380b38;  
} */

.travels{
  /* height: 10px; */
  padding-bottom: 5%; 
}

/* ///////////////////////////////////////////end about me/////////////////////////////////////////////// */

/* ///////////////////////////////////////////resume/////////////////////////////////////////////// */
.resumePage{
  padding-top: 105px;
}

.resume{
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  padding-top: 50px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.btn2{
  padding-bottom: 75px;
  font-size: 20px;
  text-align: center;
}
/* ///////////////////////////////////////////end resume/////////////////////////////////////////////// */

/* Contact */
.errorMessage{
  margin-bottom: -40px;
}
.formInput{
  background-color: #380b38;
  color: azure;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 16px;

}


input {
  width: 50%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);

  &:focus {
    border: 2px solid rgba(0, 206, 158, 1);
  }
}

textarea {
  max-width: 50%;
  min-width: 50%;
  width: 50%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);

  &:focus {
    border: 2px solid rgba(0, 206, 158, 1);
  }
}

    /* label {
      margin-top: 1rem;
      margin-right: 700px;
    } */

.submit-btn {
  cursor: pointer;
  background-color: #380b38;
  color: azure;
  padding: 7px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;  
  width: 5%;
}

.submit-btn:hover {
  background: azure;
  color: #380b38;
  box-shadow: 5px 5px 5px #380b38;
}

.row{
  padding-bottom: 75px;
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
  color: #380b38;
}

.social-icons {
  font-size: 6.0em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 2.7px solid #380b38 !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .social-icons {
    margin: 10px !important;
  }
}

.social-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 3.2px solid #380b38 !important;
}
.social-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}
  
/* End Contact */

/* Portfolio */

.skill-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px #380b38 !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  width: 1000px;
  background-color: #eed1ee;
}

@media (max-width: 767px) {
  .skill-icons {
    margin: 10px !important;
  }
}

.skill-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
}
.skill-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.project-card {
  padding-top: 5px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
  width: 33%;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
  color: #380b38 !important;
  background-color: #eed1ee !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}

.cardImage{
  width: 100%;
}

.skills{
  padding-bottom: 75px;
}

/* end portfolio */