* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: url(./assets/hearts.gif);
  background-color: #f9cee7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}


h1 {
  margin: 32px 0;
  color: #e20b0b;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
